## .gitignore simplified version
__pycache__/
*.pyc
*.pyo

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/

dist/
build/
*.egg-info/

# data/
# datasets/

*.pth
*.pt
*.ckpt

logs/
runs/


# Ignore datasets
data/MNIST/*

# Ignore weights
data/sd/v1-5-pruned-emaonly.ckpt